.orangeContainer{
    background-color: orange;
    padding: 5%;
    margin-bottom: 2%;
}

.greenContainer{
    background-color: greenyellow;
    padding: 15% 0;
    margin-bottom: 2%;
}

.blueContainer{
    background-color: blue;
    padding: 6% 0;
    margin-bottom: 2%;
}

.grayContainer{
    background-color: grey;
    padding: 8% 0;
    margin-bottom: 2%;
}

